[evel-1]
type = ElevatorAgent
log	= elev_log
config = {iot:10.10.1.64; tmp:77; Go_Down:Fire_Detected|ROOM_EMPTY|WHAT_NOT; Event:SOME_RANDOM_EVENT}

[live-log]
type = LiveLog
log = All
config = {sendtoserver:All}

[smoke-a-1]
type = SmokeDetector
room = room-4-a
floor 4
log = safety
config = {Event:Fire_Detected}

[smoke-a-2]
type = SmokeDetector
room = room-4-a
floor 4
log = safety
config = {Event:Fire_Detected}

[smoke-a-3]
type = SmokeDetector
room = room-4-a
floor 4
log = All
config = {Event:Fire_Detected}

